.how-to_window {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: black;
  z-index: 5;
}

.how-to_hide {
  z-index: -35;
}

.how-to_content {
  position: absolute;
  top: 250px;
  left: 50px;
  width: 1600px;
  height: 800px;
  overflow-y: auto;
}

.how-to_content p {
  color: white;
  font-family: "Dimenze-Regular";
  font-size: 48px;
}
